Inmob-Salesforce/force-app/main/default/flows/Actualizar_Oportunidad_campos_Meta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Encuentra_Lead</name>
        <label>Encuentra Lead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_encuentra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_datos_Oportunidad</targetReference>
            </connector>
            <label>Si encuentra</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualizar Oportunidad campos Meta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Oportunidad campos Meta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Lead</name>
        <label>Buscar Lead</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encuentra_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Identificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Lead.CI_Identificacion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Ref_Web_To_Lead__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_datos_Oportunidad</name>
        <label>Actualizar datos Oportunidad</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CI_Formulario__c</field>
            <value>
                <elementReference>Buscar_Lead.CI_Formulario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Monto_de_Ingresos__c</field>
            <value>
                <elementReference>Buscar_Lead.CI_Monto_de_Ingresos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Numero_de_dormitorios__c</field>
            <value>
                <elementReference>Buscar_Lead.CI_Numero_de_dormitorios__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EsWeb__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
