Inmob-Salesforce/force-app/main/default/flows/CI_Asignar_Nuevo_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CI_Notificar_Nuevo_Lead</name>
        <label>CI_Notificar Nuevo Lead</label>
        <locationX>1249</locationX>
        <locationY>3488</locationY>
        <actionName>Lead.CI_Notificar_Nuevo_Lead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Crear_Tarea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.CI_Notificar_Nuevo_Lead</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_usuario_encontrado</name>
        <label>Asignar usuario encontrado</label>
        <locationX>1356</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UserB2BMAI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsuarioCreador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Creado_por_Usuario_de_Integracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Usuario</name>
        <label>Guardar Usuario</label>
        <locationX>1249</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>User</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.CI_Usuario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Asignacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Creado_por_Usuario_de_Integracion</name>
        <label>¿Creado por Usuario de Integración?</label>
        <locationX>1268</locationX>
        <locationY>1016</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserB2BMAI.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_si_es_duplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estan_completos_los_datos_del_referido</name>
        <label>¿Están completos los datos del referido?</label>
        <locationX>1502</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incompletos</defaultConnectorLabel>
        <rules>
            <name>Completos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.CI_Apellido_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Email_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Mov_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Registro_de_Referido</targetReference>
            </connector>
            <label>Completos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Modelo</name>
        <label>¿Existe Modelo?</label>
        <locationX>1249</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <targetReference>Buscar_Referido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Modelo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Referido</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Proyecto</name>
        <label>¿Existe Proyecto?</label>
        <locationX>1249</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Buscar_Modelo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Proyecto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Modelo</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_RecordType_Referido</name>
        <label>¿Existe RecordType Referido?</label>
        <locationX>1304</locationX>
        <locationY>2912</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType_Referido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Referido</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Referido</name>
        <label>Existe Referido</label>
        <locationX>1249</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Estan_completos_los_datos_del_referido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>Si_Existe3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Referido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Lead</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Usuarios</name>
        <label>Existen Usuarios</label>
        <locationX>1071</locationX>
        <locationY>1448</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaUsuarios</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Listado</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_Valido</name>
        <label>Usuario Válido?</label>
        <locationX>1488</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Validar_Usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_Usuario.Nombre_usuario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UsuarioCreador.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioCreador.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_usuario_encontrado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_existe_Prospecto</name>
        <label>¿Ya existe Prospecto?</label>
        <locationX>774</locationX>
        <locationY>1232</locationY>
        <defaultConnectorLabel>Resultado Predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdLeadExistente</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Prospecto_Duplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdLeadExistente</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Buscar_Asignados</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CI_Asignar_Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Asignar Nuevo Lead</label>
    <loops>
        <name>Recorrer_Listado</name>
        <label>Recorrer Listado</label>
        <locationX>908</locationX>
        <locationY>1556</locationY>
        <assignNextValueToReference>GetUsers</assignNextValueToReference>
        <collectionReference>ListaUsuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_Usuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_Asignacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validar_Usuario</name>
        <label>Validar Usuario</label>
        <locationX>1268</locationX>
        <locationY>458</locationY>
        <collectionReference>Usuarios_para_Integracion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Usuario_Valido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creado_por_Usuario_de_Integracion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Referido</name>
        <label>Crear Referido</label>
        <locationX>1172</locationX>
        <locationY>3020</locationY>
        <assignRecordIdToReference>Id_Referido</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>CI_Email__c</field>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Modelo__c</field>
            <value>
                <elementReference>Id_Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Proyecto__c</field>
            <value>
                <elementReference>Id_Proyecto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Ref_Web_To_Lead__c</field>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Tipo_de_Cliente__c</field>
            <value>
                <stringValue>Prospecto Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead.CI_Email_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead.CI_Nombre_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead.CI_Apellido_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Lead.CI_Mov_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUsers.CI_Usuario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Referido</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tarea</name>
        <label>Crear Tarea</label>
        <locationX>1249</locationX>
        <locationY>3596</locationY>
        <assignRecordIdToReference>Tarea.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Fecha_de_asignacion_del_Prospecto</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Nuevo Prospecto Asignado desde Pardot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_Duplicado</name>
        <label>Eliminar Duplicado</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLeadDuplicado</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_Asignados</name>
        <label>Buscar Asignados</label>
        <locationX>1071</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Proyecto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Usuario_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asignacion_Web_to_Lead__c</object>
        <outputReference>ListaUsuarios</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Usuario__c</queriedFields>
        <queriedFields>CI_Cantidad_LA__c</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <sortField>CI_Fecha_Ultima_Asignacion__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Modelo</name>
        <label>Buscar Modelo</label>
        <locationX>1249</locationX>
        <locationY>2180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Modelo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Codigo_Modelo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Modelo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Codigo_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cod_proyecto</elementReference>
            </value>
        </filters>
        <object>Modelo__c</object>
        <outputAssignments>
            <assignToReference>Id_Modelo</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Proyecto</name>
        <label>Buscar Proyecto</label>
        <locationX>1249</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Proyecto__c</object>
        <outputAssignments>
            <assignToReference>Cod_proyecto</assignToReference>
            <field>Codigo_Proyecto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Proyecto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Referido</name>
        <label>Buscar Referido</label>
        <locationX>1249</locationX>
        <locationY>2480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Referido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Email_Referido__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Id_Referido</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Usuario_Creador_del_Lead</name>
        <label>Buscar Usuario Creador del Lead</label>
        <locationX>1268</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuarios_para_Integracion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UsuarioCreador</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lead</name>
        <label>Obtener Lead</label>
        <locationX>1268</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Usuario_Creador_del_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CI_Cod_Proyecto__c</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <queriedFields>CI_Modelo__c</queriedFields>
        <queriedFields>CI_Email_Referido__c</queriedFields>
        <queriedFields>CI_Referido__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CI_Nombre_Referido__c</queriedFields>
        <queriedFields>CI_Apellido_Referido__c</queriedFields>
        <queriedFields>CI_Tipo_de_Cliente__c</queriedFields>
        <queriedFields>CI_Email__c</queriedFields>
        <queriedFields>CI_Ref_Web_To_Lead__c</queriedFields>
        <queriedFields>CI_Mov_Referido__c</queriedFields>
        <queriedFields>CI_Cod_Modelo__c</queriedFields>
        <queriedFields>CI_Web_to_Lead__c</queriedFields>
        <queriedFields>CI_Identificacion__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Prospecto_Duplicado</name>
        <label>Prospecto Duplicado</label>
        <locationX>50</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eliminar_Duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Identificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdenLeadExistente</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>IdLeadExistente</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>IdLeadDuplicado</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Tipo_de_Registro_de_Referido</name>
        <label>Tipo de Registro de Referido</label>
        <locationX>1304</locationX>
        <locationY>2804</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_RecordType_Referido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CI_Prospecto_referido</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_Referido</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuarios_para_Integracion</name>
        <label>Usuarios para Integración</label>
        <locationX>1268</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Usuario</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Usuarios_para_Integracion__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Validar_si_es_duplicado</name>
        <label>Validar si es duplicado</label>
        <locationX>774</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_Prospecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Identificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Identificacion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>IdenLeadExistente</assignToReference>
            <field>CI_Identificacion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdLeadExistente</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Asignacion</name>
        <label>Actualizar Asignación</label>
        <locationX>1249</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>Buscar_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUsers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_Ultima_Asignacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Asignacion_Web_to_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Lead</name>
        <label>Actualizar Lead</label>
        <locationX>1249</locationX>
        <locationY>3380</locationY>
        <connector>
            <targetReference>CI_Notificar_Nuevo_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Asignado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Email__c</field>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Modelo__c</field>
            <value>
                <elementReference>Id_Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Proyecto__c</field>
            <value>
                <elementReference>Id_Proyecto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Referido__c</field>
            <value>
                <elementReference>Id_Referido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Tipo_de_Cliente__c</field>
            <value>
                <stringValue>Prospecto Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>1142</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fecha_de_asignacion_del_Prospecto</name>
        <label>Fecha de asignación del Prospecto</label>
        <locationX>1249</locationX>
        <locationY>3704</locationY>
        <flowName>CI_Fecha_Asignacion_Lead</flowName>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CantidadLeadAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Cod_proyecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>Id_Modelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Proyecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Referido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdenLeadExistente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdLeadDuplicado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdLeadExistente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadsAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaUsuarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>RecordType_Referido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tarea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserB2BMAI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsuarioCreador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
