Inmob-Salesforce/force-app/main/default/flows/CI_Asignar_Promocion_a_Historial_Promocion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Existe_Promocion</name>
        <label>¿Existe Promoción?</label>
        <locationX>577</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Promocion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Historial_Promocion</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <interviewLabel>CI Asignar Promoción a Historial Promoción {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Asignar Promoción a Historial Promoción</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Promocion</name>
        <label>Buscar Promoción</label>
        <locationX>396</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Promocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistorialPromo.Cod_Promo__c</elementReference>
            </value>
        </filters>
        <object>Promocion__c</object>
        <outputReference>Promocion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Codigo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Historial_Promocion</name>
        <label>Obtener Historial Promoción</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Promocion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idHistPromo</elementReference>
            </value>
        </filters>
        <object>Historial_Promocion__c</object>
        <outputReference>HistorialPromo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Codigo_Promocion__c</queriedFields>
        <queriedFields>CI_Promocion__c</queriedFields>
        <queriedFields>Cod_Promo__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Historial_Promocion</name>
        <label>Actualizar Historial Promoción</label>
        <locationX>792</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idHistPromo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Promocion__c</field>
            <value>
                <elementReference>Promocion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Historial_Promocion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Historial_Promocion</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>HistorialPromo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Historial_Promocion__c</objectType>
    </variables>
    <variables>
        <name>idHistPromo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Promocion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promocion__c</objectType>
    </variables>
</Flow>
