Inmob-Salesforce/force-app/main/default/flows/CI_Asignaciones_Web_to_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>CI_Cantidad_LA</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CI Asignaciones Web to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Asignaciones Web to Lead</label>
    <loops>
        <name>LoopAsignaciones</name>
        <label>LoopAsignaciones</label>
        <locationX>381</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>LstAsignacionResult</assignNextValueToReference>
        <collectionReference>LstAsignaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Cantidad</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Asignaciones</name>
        <label>Buscar Asignaciones</label>
        <locationX>210</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAsignaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdAsigna</elementReference>
            </value>
        </filters>
        <object>Asignacion_Web_to_Lead__c</object>
        <outputReference>LstAsignaciones</outputReference>
        <queriedFields>CI_Cantidad_LA__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cantidad</name>
        <label>Actualizar Cantidad</label>
        <locationX>588</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LoopAsignaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Cantidad_LA__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CI_Cantidad_LA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Cantidad_LA__c</field>
            <value>
                <elementReference>CI_Cantidad_LA</elementReference>
            </value>
        </inputAssignments>
        <object>Asignacion_Web_to_Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_Asignaciones</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AsignacionesLoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdAsigna</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LstAsignaciones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>LstAsignacionResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
</Flow>
