Inmob-Salesforce/force-app/main/default/flows/CI_Aprobar_Cotizacion_Preferencial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CI_Aprobar_Cotizacion</name>
        <label>CI_Aprobar_Cotización</label>
        <locationX>579</locationX>
        <locationY>50</locationY>
        <actionName>Cotizacion__c.CI_Aprobar_Cotizacion</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cotizacion__c.CI_Aprobar_Cotizacion</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Existe_Cotizacion</name>
        <label>¿Existe Cotización?</label>
        <locationX>384</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cotizacion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.Ingresa_Preferencial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.CI_Aprobar_cotizacion_pref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CI_Aprobar_Cotizacion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>CI_Aprobar_Cotización_Preferencial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Aprobar_Cotización_Preferencial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Cotizacion</name>
        <label>Obtener Cotización</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </filters>
        <object>Cotizacion__c</object>
        <outputReference>Cotizacion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ingresa_Preferencial__c</queriedFields>
        <queriedFields>CI_Aprobar_cotizacion_pref__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Cotizacion</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
    <variables>
        <name>IdCotizacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
