Inmob-Salesforce/force-app/main/default/flows/CI_Asignar_Proyecto_a_Modelo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Existe_Proyecto</name>
        <label>¿Existe Proyecto?</label>
        <locationX>550</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proyecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Modelo</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <interviewLabel>CI Asignar Proyecto a Modelo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Asignar Proyecto a Modelo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Proyecto_Relacionado</name>
        <label>Buscar Proyecto Relacionado</label>
        <locationX>382</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Modelo.CI_Codigo_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Proyecto__c</object>
        <outputReference>Proyecto</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Modelo</name>
        <label>Obtener Modelo</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Proyecto_Relacionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idModelo</elementReference>
            </value>
        </filters>
        <object>Modelo__c</object>
        <outputReference>Modelo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <queriedFields>CI_Codigo_Proyecto__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Modelo</name>
        <label>Actualizar Modelo</label>
        <locationX>750</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idModelo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Proyecto__c</field>
            <value>
                <elementReference>Proyecto.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Modelo__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Modelo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idModelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Modelo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Modelo__c</objectType>
    </variables>
    <variables>
        <name>Proyecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Proyecto__c</objectType>
    </variables>
</Flow>
