Inmob-Salesforce/force-app/main/default/flows/CI_Cambiar_Propietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CI_Prospecto_Lead_Asignado_a_Jefe</name>
        <label>CI_Prospecto (Lead) Asignado a Jefe</label>
        <locationX>1017</locationX>
        <locationY>50</locationY>
        <actionName>Lead.CI_Prospecto_Lead_Asignado_a_Jefe</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Crear_Tarea</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.CI_Prospecto_Lead_Asignado_a_Jefe</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CI_Prospecto_Lead_Cambio_de_Propietario</name>
        <label>CI_Prospecto (Lead) Cambio de Propietario</label>
        <locationX>696</locationX>
        <locationY>50</locationY>
        <actionName>Lead.CI_Prospecto_Lead_Cambio_de_Propietario</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Actualizar_Lead</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.CI_Prospecto_Lead_Cambio_de_Propietario</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Nuevo_Propietario</name>
        <label>Nuevo Propietario</label>
        <locationX>536</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.CI_Id_Gestor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CI_Prospecto_Lead_Cambio_de_Propietario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dado_de_Baja</name>
        <label>¿Dado de Baja?</label>
        <locationX>356</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dado de Baja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Motivo_Baja__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nuevo_Propietario</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cambiar el Propietario del Lead si el Estado cambia a Dado de Baja.</description>
    <interviewLabel>C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Cambiar_Propietario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Tarea</name>
        <label>Crear Tarea</label>
        <locationX>1017</locationX>
        <locationY>249</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Lead.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Se le asignó el prospecto al Jefe Inmediato para su reasignación a otro Asesor.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Prospecto fue dado de Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Lead</name>
        <label>Obtener Lead</label>
        <locationX>202</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dado_de_Baja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CI_Id_Gestor__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>CI_Motivo_Baja__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Lead</name>
        <label>Actualizar Lead</label>
        <locationX>858</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CI_Prospecto_Lead_Asignado_a_Jefe</targetReference>
        </connector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
