Inmob-Salesforce/force-app/main/default/flows/CI_Cotizacion_en_Oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Existe_Cotizacion</name>
        <label>¿Existe Cotización?</label>
        <locationX>392</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cotizacion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_oportunidad</name>
        <label>¿Existe oportunidad?</label>
        <locationX>950</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidad.CI_Fecha_primera_cot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Oportunidad</targetReference>
            </connector>
            <label>Existe sin Fecha de primera cotización</label>
        </rules>
    </decisions>
    <interviewLabel>CI Cotización en Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Cotización en Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Cotizacion</name>
        <label>Buscar Cotización</label>
        <locationX>222</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </filters>
        <object>Cotizacion__c</object>
        <outputReference>Cotizacion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>CI_Cuenta__c</queriedFields>
        <queriedFields>Oportunidad__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>773</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.Oportunidad__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_primera_cot__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Oportunidad</name>
        <label>Actualizar Oportunidad</label>
        <locationX>958</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_primera_cot__c</field>
            <value>
                <elementReference>Cotizacion.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion</name>
        <label>Actualizar Última Gestión</label>
        <locationX>601</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Buscar_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.CI_Cuenta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>Cotizacion.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_Cotizacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
    <variables>
        <name>IdCotizacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
