Inmob-Salesforce/force-app/main/default/flows/CI_Eventos_de_la_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Cumple_condiciones</name>
        <label>¿Cumple condiciones?</label>
        <locationX>415</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Viene_de_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evento.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evento.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cliente</targetReference>
            </connector>
            <label>Viene de Cuenta</label>
        </rules>
        <rules>
            <name>Viene_de_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evento.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evento.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Oportunidad</targetReference>
            </connector>
            <label>Viene de Oportunidad</label>
        </rules>
        <rules>
            <name>Viene_de_Prospecto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evento.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Prospecto</targetReference>
            </connector>
            <label>Viene de Prospecto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cliente</name>
        <label>¿Existe Cliente?</label>
        <locationX>840</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Oportunidad</name>
        <label>¿Existe Oportunidad?</label>
        <locationX>841</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Oportunidad</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Prospecto</name>
        <label>¿Existe Prospecto?</label>
        <locationX>217</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prospecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Prospecto</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <interviewLabel>CI Eventos de la Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Eventos de la Cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Cliente</name>
        <label>Buscar Cliente</label>
        <locationX>640</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhatId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cliente</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_ultima_gestion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Evento</name>
        <label>Buscar Evento</label>
        <locationX>232</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cumple_condiciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Evento</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>Evento</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>WhoId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>642</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_prox_act__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Prospecto</name>
        <label>Buscar Prospecto</label>
        <locationX>225</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Prospecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Prospecto</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_ultima_gestion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion</name>
        <label>Actualizar Última Gestión</label>
        <locationX>1066</locationX>
        <locationY>38</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>Evento.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Oportunidad</name>
        <label>Actualizar Última Gestión Oportunidad</label>
        <locationX>1066</locationX>
        <locationY>368</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_prox_act__c</field>
            <value>
                <elementReference>Evento.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Prospecto</name>
        <label>Actualizar Última Gestión Prospecto</label>
        <locationX>642</locationX>
        <locationY>581</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evento.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>Evento.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Buscar_Evento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cliente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Evento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Id_Evento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Prospecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
