Inmob-Salesforce/force-app/main/default/flows/CI_EmailMessage_de_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Cumple_condiciones</name>
        <label>¿Cumple condiciones?</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Viene_desde_Cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailMessage.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cliente</targetReference>
            </connector>
            <label>Viene desde Cuenta</label>
        </rules>
        <rules>
            <name>Viene_desde_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailMessage.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Oportunidad</targetReference>
            </connector>
            <label>Viene desde Oportunidad</label>
        </rules>
        <rules>
            <name>Viene_desde_Prospecto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailMessage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailMessage.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Prospecto</targetReference>
            </connector>
            <label>Viene desde Prospecto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cliente</name>
        <label>¿Existe Cliente?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cliente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Oportunidad</name>
        <label>¿Existe Oportunidad?</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Oportunidad</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Prospecto</name>
        <label>¿Existe Prospecto?</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prospecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Prospecto</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CI EmailMessage de Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI EmailMessage de Cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Cliente</name>
        <label>Buscar Cliente</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.RelatedToId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cliente</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_ultima_gestion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.RelatedToId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_prox_act__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_EmailMessage</name>
        <label>Obtener EmailMessage</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cumple_condiciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdEmailMessage</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <outputReference>EmailMessage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedToId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>ToAddress</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Prospecto</name>
        <label>Obtener Prospecto</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Prospecto</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Gestor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Prospecto</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_ultima_gestion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion</name>
        <label>Actualizar Última Gestión</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>EmailMessage.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Oportunidad</name>
        <label>Actualizar Última Gestión Oportunidad</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.RelatedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_prox_act__c</field>
            <value>
                <elementReference>EmailMessage.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Prospecto</name>
        <label>Actualizar Última Gestión Prospecto</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailMessage.ToAddress</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>EmailMessage.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_EmailMessage</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Cliente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>IdEmailMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Prospecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
