Inmob-Salesforce/force-app/main/default/flows/CI_Fecha_de_creacion_del_Lead_en_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignar_Fecha_de_creacion_del_prospecto</name>
        <label>Asignar Fecha de creación del prospecto</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Cuenta.CI_Fecha_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaCreacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cuenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Cuenta_Convertida</name>
        <label>¿Existe Cuenta Convertida?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fecha_de_creacion_del_prospecto</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Convertido</name>
        <label>Lead Convertido?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <formulas>
        <name>FechaCreacion</name>
        <dataType>Date</dataType>
        <expression>{!Lead.CI_Fecha_de_asignacion__c}</expression>
    </formulas>
    <interviewLabel>CI Fecha de creación del Lead en Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Fecha de creación del Lead en Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Cuenta</name>
        <label>Buscar Cuenta</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta_Convertida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Cuenta</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Prospecto</name>
        <label>Buscar Prospecto</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Convertido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>CI_Fecha_de_asignacion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cuenta</name>
        <label>Actualizar Cuenta</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Cuenta</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Prospecto</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
