Inmob-Salesforce/force-app/main/default/flows/CI_Fecha_Asignacion_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Asignar_Fecha</name>
        <label>Asignar Fecha</label>
        <locationX>417</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Lead.CI_Fecha_de_asignacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Candidato</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CI Fecha de Asignación en Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Fecha_Asignación_Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Candidato</name>
        <label>Buscar Candidato</label>
        <locationX>231</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Fecha</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_de_asignacion__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Candidato</name>
        <label>Actualizar Candidato</label>
        <locationX>615</locationX>
        <locationY>50</locationY>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_Candidato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
