Inmob-Salesforce/force-app/main/default/flows/CI_Numero_de_asignaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificar_Reasignacion</name>
        <label>Notificar Reasignación</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>Lead.CI_Prospecto_Lead_Reasignado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Actualizar_y_Reasignar_Prospecto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.CI_Prospecto_Lead_Reasignado</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_1</name>
        <label>Asignar 1</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Numero_asigna__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Motivo_Baja__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Prospecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Estado_a_Trabajando</name>
        <label>Cambiar Estado a Trabajando</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Numero_asigna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asignaciones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Motivo_Baja__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Prospecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reasignar_Prospecto</name>
        <label>Reasignar Prospecto</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Lead.CI_Asignado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Numero_asigna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserB2BMAI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.CI_Motivo_Baja__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_Reasignacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Estado_del_Prospecto</name>
        <label>Estado del Prospecto</label>
        <locationX>644</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Dado_baja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dado de Baja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Numero_asigna__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Reasignar.CI_Valor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Numero_de_asignaciones</targetReference>
            </connector>
            <label>Dado de baja</label>
        </rules>
        <rules>
            <name>Reasignar2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dado de Baja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Numero_asigna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reasignar.CI_Valor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_de_Pardot</targetReference>
            </connector>
            <label>Reasignar</label>
        </rules>
        <rules>
            <name>Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dado de Baja</stringValue>
                </rightValue>
            </conditions>
            <label>Activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_de_asignaciones</name>
        <label>Número de asignaciones</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Cambiar_Estado_a_Trabajando</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.CI_Numero_asigna__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_1</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Propietario_esta_activo</name>
        <label>¿Propietario está activo?</label>
        <locationX>1007</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Propietario_del_Lead.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Activo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Reasignacion_de_Lead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Asignaciones</name>
        <dataType>Number</dataType>
        <expression>{!Lead.CI_Numero_asigna__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CI_Número_de_asignaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Número_de_asignaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Tarea</name>
        <label>Crear Tarea</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Lead.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Contacte el cliente para obtener más información.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>El Prospecto está volviendo a cotizar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Candidato</name>
        <label>Buscar Candidato</label>
        <locationX>1007</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Propietario_del_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CI_Numero_asigna__c</queriedFields>
        <queriedFields>CI_Motivo_Baja__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Propietario_del_Lead</name>
        <label>Buscar Propietario del Lead</label>
        <locationX>1007</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Propietario_esta_activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SLA_Reasignacion_de_Lead</name>
        <label>SLA Reasignación de Lead</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_del_Prospecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Control de reasignación de Prospectos (Lead)</stringValue>
            </value>
        </filters>
        <object>Configuracion_General__c</object>
        <outputReference>Reasignar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Valor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Usuario_de_Pardot</name>
        <label>Usuario de Pardot</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reasignar_Prospecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2BMA Integration</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserB2BMAI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Prospecto</name>
        <label>Actualizar Prospecto</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Crear_Tarea</targetReference>
        </connector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_y_Reasignar_Prospecto</name>
        <label>Actualizar y Reasignar Prospecto</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Candidato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Reasignar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Configuracion_General__c</objectType>
    </variables>
    <variables>
        <name>UserB2BMAI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
