Inmob-Salesforce/force-app/main/default/flows/CI_Numero_Cotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Anio_Ultima_Cotizacion_Rioja</name>
        <label>Año Última Cotización Rioja</label>
        <locationX>1082</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>UltimaCot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proforma_N</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cotizacion_Rioja</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Anio_Ultima_Cotizacion_Vittoria</name>
        <label>Año Última Cotización Vittoria</label>
        <locationX>1082</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>UltimaCot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proforma_N</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cotizacion_Vittoria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Ultima_Cotizacion_Rioja</name>
        <label>Id Ultima Cotización Rioja</label>
        <locationX>944</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>IdUltimaCot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anio_Ultima_Cotizacion_Rioja</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_Ultima_Cotizacion_Vittoria</name>
        <label>Id Ultima Cotización Vittoria</label>
        <locationX>944</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>IdUltimaCot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anio_Ultima_Cotizacion_Vittoria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_Cotizacion</name>
        <label>¿Existe Cotización?</label>
        <locationX>324</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_V</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cotizacion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.CI_Proforma_V_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.CI_Proyecto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA GRAN VITTORIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Proyecto</targetReference>
            </connector>
            <label>Si Existe V</label>
        </rules>
        <rules>
            <name>Si_Existe_R</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cotizacion.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.CI_Proforma_R_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cotizacion.CI_Proyecto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA RIOJA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Proyecto</targetReference>
            </connector>
            <label>Si Existe R</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Proyecto</name>
        <label>¿Existe Proyecto?</label>
        <locationX>638</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>VITTORIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proyecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA GRAN VITTORIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Ultima_Cotizacion_VITTORIA</targetReference>
            </connector>
            <label>VITTORIA</label>
        </rules>
        <rules>
            <name>RIOJA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proyecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proyecto.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA RIOJA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Ultima_CotizaciOn_RIOJA</targetReference>
            </connector>
            <label>RIOJA</label>
        </rules>
    </decisions>
    <formulas>
        <name>Number</name>
        <dataType>Number</dataType>
        <expression>VALUE({!UltimaCotizacion.CI_Proforma_V_N__c})+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Number2</name>
        <dataType>Number</dataType>
        <expression>VALUE({!UltimaCotizacionRioja.CI_Proforma_R_N__c})+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Proforma_N</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT(YEAR({!$Flow.CurrentDate})),2) &amp; &apos; - &apos; &amp; {!IdUltimaCot}</expression>
    </formulas>
    <interviewLabel>CI_Número_Cotización {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Número_Cotización</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Proyecto</name>
        <label>Buscar Proyecto</label>
        <locationX>501</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.CI_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Proyecto__c</object>
        <outputReference>Proyecto</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Ultima_CotizaciOn_RIOJA</name>
        <label>Buscar Última Cotización RIOJA</label>
        <locationX>806</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_Ultima_Cotizacion_Rioja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Proforma_R_N__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CI_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.CI_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Cotizacion__c</object>
        <outputReference>UltimaCotizacionRioja</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Proforma_R_N__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Ultima_Cotizacion_VITTORIA</name>
        <label>Buscar Última Cotización VITTORIA</label>
        <locationX>814</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Id_Ultima_Cotizacion_Vittoria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Proforma_V_N__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CI_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cotizacion.CI_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Cotizacion__c</object>
        <outputReference>UltimaCotizacion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Proforma_V_N__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cotizacion</name>
        <label>Obtener Cotización</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </filters>
        <object>Cotizacion__c</object>
        <outputReference>Cotizacion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CI_Proforma_R_N__c</queriedFields>
        <queriedFields>CI_Proforma_V_N__c</queriedFields>
        <queriedFields>CI_Proforma_R_Num__c</queriedFields>
        <queriedFields>CI_Proforma_V_Num__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cotizacion_Rioja</name>
        <label>Actualizar Cotización Rioja</label>
        <locationX>1221</locationX>
        <locationY>342</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Proforma_R_N__c</field>
            <value>
                <elementReference>IdUltimaCot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Proforma_R_Num__c</field>
            <value>
                <elementReference>UltimaCot</elementReference>
            </value>
        </inputAssignments>
        <object>Cotizacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cotizacion_Vittoria</name>
        <label>Actualizar Cotización Vittoria</label>
        <locationX>1221</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCotizacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Proforma_V_N__c</field>
            <value>
                <elementReference>IdUltimaCot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Proforma_V_Num__c</field>
            <value>
                <elementReference>UltimaCot</elementReference>
            </value>
        </inputAssignments>
        <object>Cotizacion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Cotizacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
    <variables>
        <name>IdCotizacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdUltimaCot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Proyecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Proyecto__c</objectType>
    </variables>
    <variables>
        <name>UltimaCot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UltimaCotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
    <variables>
        <name>UltimaCotizacionRioja</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Cotizacion__c</objectType>
    </variables>
</Flow>
