Inmob-Salesforce/force-app/main/default/flows/CI_Reprocesar_Lead_Existente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Convertir al Candidato si tiene dos propietarios.</description>
        <name>Convertir_Candidato</name>
        <label>Convertir Candidato</label>
        <locationX>270</locationX>
        <locationY>3569</locationY>
        <actionName>CI_AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Se_crea_la_segunda_Oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CI_AutoConvertLeads</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asignar_usuario_encontrado</name>
        <label>Asignar usuario encontrado</label>
        <locationX>456</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>UserB2BMAI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsuarioCreador</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Modificado_por_Usuario_de_Integracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Usuario</name>
        <label>Guardar Usuario</label>
        <locationX>468</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>User</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.CI_Usuario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadsAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.CI_Cantidad_LA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementar_Asignacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Asignacion</name>
        <label>Incrementar Asignación</label>
        <locationX>468</locationX>
        <locationY>1637</locationY>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadsAsignados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Asignacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Convertir_Automaticamente_el_Candidato</name>
        <label>Convertir Automáticamente el Candidato</label>
        <locationX>468</locationX>
        <locationY>3461</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convertir_Candidato</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estan_completos_los_datos_del_referido</name>
        <label>¿Están completos los datos del referido?</label>
        <locationX>721</locationX>
        <locationY>2669</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incompletos</defaultConnectorLabel>
        <rules>
            <name>Completos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.CI_Apellido_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Email_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Mov_Referido__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Registro_de_Referido</targetReference>
            </connector>
            <label>Completos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Modelo</name>
        <label>¿Existe Modelo?</label>
        <locationX>468</locationX>
        <locationY>2261</locationY>
        <defaultConnector>
            <targetReference>Buscar_Referido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Modelo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Referido</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Proyecto</name>
        <label>¿Existe Proyecto?</label>
        <locationX>468</locationX>
        <locationY>1961</locationY>
        <defaultConnector>
            <targetReference>Buscar_Modelo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Proyecto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Modelo</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_RecordType_Referido</name>
        <label>¿Existe RecordType Referido?</label>
        <locationX>523</locationX>
        <locationY>2885</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType_Referido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Referido</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Referido</name>
        <label>Existe Referido</label>
        <locationX>468</locationX>
        <locationY>2561</locationY>
        <defaultConnector>
            <targetReference>Estan_completos_los_datos_del_referido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>Si_Existe3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_Referido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Lead</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Usuarios</name>
        <label>Existen Usuarios</label>
        <locationX>174</locationX>
        <locationY>1313</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaUsuarios</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Listado</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modificado_por_Usuario_de_Integracion</name>
        <label>¿Modificado por Usuario de Integración?</label>
        <locationX>368</locationX>
        <locationY>1097</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserB2BMAI.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Asignados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_crea_la_segunda_Oportunidad</name>
        <label>¿Se crea la segunda Oportunidad?</label>
        <locationX>270</locationX>
        <locationY>3677</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CI_Nuevo_Propietario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Oportunidad_Adicional</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_Valido</name>
        <label>Usuario Válido?</label>
        <locationX>588</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Validar_Usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_Usuario.Nombre_usuario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UsuarioCreador.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioCreador.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_usuario_encontrado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CI_Reprocesar_Lead_Existente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Reprocesar_Lead_Existente</label>
    <loops>
        <name>Recorrer_Listado</name>
        <label>Recorrer Listado</label>
        <locationX>50</locationX>
        <locationY>1421</locationY>
        <assignNextValueToReference>GetUsers</assignNextValueToReference>
        <collectionReference>ListaUsuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_Usuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Incrementar_Asignacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Validar_Usuario</name>
        <label>Validar Usuario</label>
        <locationX>368</locationX>
        <locationY>539</locationY>
        <collectionReference>Usuarios_para_Integracion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Usuario_Valido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Modificado_por_Usuario_de_Integracion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Referido</name>
        <label>Crear Referido</label>
        <locationX>391</locationX>
        <locationY>2993</locationY>
        <assignRecordIdToReference>Id_Referido</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>CI_Email__c</field>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Modelo__c</field>
            <value>
                <elementReference>Id_Modelo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Proyecto__c</field>
            <value>
                <elementReference>Id_Proyecto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Ref_Web_To_Lead__c</field>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CI_Tipo_de_Cliente__c</field>
            <value>
                <stringValue>Prospecto Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Lead.CI_Email_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead.CI_Nombre_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead.CI_Apellido_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Lead.CI_Mov_Referido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUsers.CI_Usuario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Referido</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Asignados</name>
        <label>Buscar Asignados</label>
        <locationX>174</locationX>
        <locationY>1205</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CI_Cod_Proyecto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Usuario_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asignacion_Web_to_Lead__c</object>
        <outputReference>ListaUsuarios</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Usuario__c</queriedFields>
        <queriedFields>CI_Cantidad_LA__c</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <sortField>CI_Cantidad_LA__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Modelo</name>
        <label>Buscar Modelo</label>
        <locationX>468</locationX>
        <locationY>2153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Modelo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Codigo_Modelo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Modelo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Codigo_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cod_proyecto</elementReference>
            </value>
        </filters>
        <object>Modelo__c</object>
        <outputAssignments>
            <assignToReference>Id_Modelo</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Proyecto</name>
        <label>Buscar Proyecto</label>
        <locationX>468</locationX>
        <locationY>1853</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Proyecto__c</elementReference>
            </value>
        </filters>
        <object>Proyecto__c</object>
        <outputAssignments>
            <assignToReference>Cod_proyecto</assignToReference>
            <field>Codigo_Proyecto__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Id_Proyecto</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Referido</name>
        <label>Buscar Referido</label>
        <locationX>468</locationX>
        <locationY>2453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Referido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CI_Email_Referido__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Id_Referido</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Usuario_Creador_del_Lead</name>
        <label>Buscar Usuario Creador del Lead</label>
        <locationX>368</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuarios_para_Integracion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UsuarioCreador</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Tipo_de_Registro_de_Referido</name>
        <label>Tipo de Registro de Referido</label>
        <locationX>523</locationX>
        <locationY>2777</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_RecordType_Referido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CI_Prospecto_referido</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_Referido</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuarios_para_Integracion</name>
        <label>Usuarios para Integración</label>
        <locationX>368</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Usuario</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Usuarios_para_Integracion__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Asignacion</name>
        <label>Actualizar Asignación</label>
        <locationX>468</locationX>
        <locationY>1745</locationY>
        <connector>
            <targetReference>Buscar_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUsers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Cantidad_LA__c</field>
            <value>
                <elementReference>CantidadLeadAsignados</elementReference>
            </value>
        </inputAssignments>
        <object>Asignacion_Web_to_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Lead</name>
        <label>Actualizar Lead</label>
        <locationX>468</locationX>
        <locationY>3353</locationY>
        <connector>
            <targetReference>Convertir_Automaticamente_el_Candidato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Nuevo_Propietario__c</field>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>242</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Usuario_Creador_del_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Nuevo_Propietario__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CI_Web_to_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Crear_Oportunidad_Adicional</name>
        <label>Crear Oportunidad Adicional</label>
        <locationX>138</locationX>
        <locationY>3785</locationY>
        <flowName>CI_Crear_Segunda_Oportunidad</flowName>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CantidadLeadAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Cod_proyecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>Id_Modelo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Proyecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Referido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadsAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaUsuarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>RecordType_Referido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserB2BMAI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsuarioCreador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
