Inmob-Salesforce/force-app/main/default/flows/CI_Reasignar_Lead_Desktop.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CI_AutoConvertLeads</name>
        <label>CI_AutoConvertLeads</label>
        <locationX>1506</locationX>
        <locationY>54</locationY>
        <actionName>CI_AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CI_Crear_Segunda_Oportunidad</targetReference>
        </connector>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CI_AutoConvertLeads</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Guardar_Usuario</name>
        <label>Guardar Usuario</label>
        <locationX>842</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>User</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.CI_Usuario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadsAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUsers.CI_Cantidad_LA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incrementar_Asignacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Asignacion</name>
        <label>Incrementar Asignación</label>
        <locationX>1088</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadsAsignados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CantidadLeadAsignados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Asignacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cambi_d_Proyecto</name>
        <label>¿Cambió d Proyecto?</label>
        <locationX>341</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.CI_Proyecto_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Lead.CI_Cod_Proyecto__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.CI_Nuevo_Propietario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Asignados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Convertir_Automaticamente_el_Candidato</name>
        <label>Convertir Automáticamente el Candidato</label>
        <locationX>1292</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CI_AutoConvertLeads</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Usuarios</name>
        <label>¿Existen Usuarios?</label>
        <locationX>660</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaUsuarios</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Listado</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <interviewLabel>CI_Reasignar_Lead_Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI_Reasignar_Lead_Desktop</label>
    <loops>
        <name>Recorrer_Listado</name>
        <label>Recorrer Listado</label>
        <locationX>842</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>GetUsers</assignNextValueToReference>
        <collectionReference>ListaUsuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_Usuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Incrementar_Asignacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Asignados</name>
        <label>Buscar Asignados</label>
        <locationX>510</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.CI_Cod_Proyecto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CI_Usuario_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asignacion_Web_to_Lead__c</object>
        <outputReference>ListaUsuarios</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Usuario__c</queriedFields>
        <queriedFields>CI_Cantidad_LA__c</queriedFields>
        <queriedFields>CI_Proyecto__c</queriedFields>
        <sortField>CI_Cantidad_LA__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Lead</name>
        <label>Obtener Lead</label>
        <locationX>195</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cambi_d_Proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Cod_Proyecto__c</queriedFields>
        <queriedFields>CI_Proyecto_User__c</queriedFields>
        <queriedFields>CI_Nuevo_Propietario__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Asignacion</name>
        <label>Actualizar Asignación</label>
        <locationX>1088</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Actualizar_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUsers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Cantidad_LA__c</field>
            <value>
                <elementReference>CantidadLeadAsignados</elementReference>
            </value>
        </inputAssignments>
        <object>Asignacion_Web_to_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Lead</name>
        <label>Actualizar Lead</label>
        <locationX>1300</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Convertir_Automaticamente_el_Candidato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Nuevo_Propietario__c</field>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtener_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CI_Crear_Segunda_Oportunidad</name>
        <label>CI_Crear_Segunda_Oportunidad</label>
        <locationX>1506</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>CI_Fecha_de_creacion_del_Lead_en_Account</targetReference>
        </connector>
        <flowName>CI_Crear_Segunda_Oportunidad</flowName>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CI_Fecha_de_creacion_del_Lead_en_Account</name>
        <label>CI Fecha de creación del Lead en Account</label>
        <locationX>1692</locationX>
        <locationY>247</locationY>
        <flowName>CI_Fecha_de_creacion_del_Lead_en_Account</flowName>
        <inputAssignments>
            <name>IdLead</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CantidadLeadAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GetUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>IdLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadsAsignados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaUsuarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asignacion_Web_to_Lead__c</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
