Inmob-Salesforce/force-app/main/default/flows/CI_Tareas_de_la_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Cumple_condiciones</name>
        <label>¿Cumple condiciones?</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Viene_de_Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tarea.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tarea.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Oportunidad</targetReference>
            </connector>
            <label>Viene de Oportunidad</label>
        </rules>
        <rules>
            <name>Vienen_de_Prospecto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tarea.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Prospecto</targetReference>
            </connector>
            <label>Vienen de Prospecto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Oportunidad</name>
        <label>¿Existe Oportunidad?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Oportunidad</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Prospecto</name>
        <label>¿Existe Prospecto?</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Existe3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prospecto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ultima_Gestion_Prospecto</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <description>Flujo para monitorear si la cuenta tiene tareas gestionadas en N tiempo, o no se ha gestionado.</description>
    <environments>Default</environments>
    <interviewLabel>CI Tareas de la Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI Tareas de la Cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oportunidad</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_prox_act__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Prospecto</name>
        <label>Buscar Prospecto</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Prospecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Prospecto</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CI_Fecha_ultima_gestion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Tarea</name>
        <label>Buscar Tarea</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cumple_condiciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Tarea</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Tarea</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Oportunidad</name>
        <label>Actualizar Última Gestión Oportunidad</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_prox_act__c</field>
            <value>
                <elementReference>Tarea.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Ultima_Gestion_Prospecto</name>
        <label>Actualizar Última Gestión Prospecto</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarea.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CI_Fecha_ultima_gestion__c</field>
            <value>
                <elementReference>Tarea.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Tarea</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cliente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Id_Tarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Prospecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Tarea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
