Inmob-Salesforce/force-app/main/default/flows/Dar_de_baja.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignaci_n_2</name>
        <label>Asignación 2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>prospecto.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prospecto.CI_Proyecto__r.Usuario_Resposable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prospecto.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dado de Baja</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_prospecto_consultado</name>
        <label>Asignar prospecto consultado</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>prospecto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Prospecto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Motivo_de_baja</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esta_Activo</name>
        <label>Esta Activo</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Mensaje</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Prospecto.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_prospecto_consultado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Dar de baja</description>
    <environments>Default</environments>
    <interviewLabel>Dar de baja {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dar de baja</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Prospecto</name>
        <label>Obtener Prospecto</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_Activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_registro</name>
        <label>Actualizar registro</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>prospecto</inputReference>
    </recordUpdates>
    <screens>
        <name>Mensaje</name>
        <label>Mensaje</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 3, 3);&quot;&gt;No puede Dar de Baja un prospecto Convertido a Oportunidad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Motivo_de_baja</name>
        <label>Motivo de baja</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignaci_n_2</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>prospecto.CI_Motivo_Baja__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Prospecto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>prospecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
