Inmob-Salesforce/force-app/main/default/flows/FL_CI_Lead_Delete_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Activar_prospecto</name>
        <label>Activar prospecto</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Buscar_registro_principal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Prospecto_Principal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dado_de_Baja</name>
        <label>¿Dado de Baja?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_registro_principal.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activar_prospecto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registro_duplicado</name>
        <label>¿Registro duplicado?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CI_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminiar_Prospecto_duplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Elimina registros de prospectos duplicados y activa el prospecto principal si está Dado de Baja.</description>
    <environments>Default</environments>
    <interviewLabel>FL_CI_Lead_Delete_Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_CI_Lead_Delete_Duplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminiar_Prospecto_duplicado</name>
        <label>Eliminiar Prospecto duplicado</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Buscar_registro_principal</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Validar si el prospecto está dado de baja</description>
        <name>Buscar_registro_principal</name>
        <label>Buscar registro principal</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dado_de_Baja</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CI_Identificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CI_Identificacion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dado de Baja</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Prospecto_Principal</name>
        <label>Actualizar Prospecto Principal</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>Buscar_registro_principal</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registro_duplicado</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
