Inmob-Salesforce/force-app/main/default/flows/FL_CI_Opportunity_Modify_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Se modifica el nombre de la oportunidad nueva añadiendo el sufijo: Vendida con la fecha de cierre panacea</description>
        <name>Modificar_nombre_de_la_oportunidad_nueva</name>
        <label>Modificar nombre de la oportunidad nueva</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreModificado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validar_oportunidades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tiene_Oportunidades_Abiertas</name>
        <label>¿Tiene Oportunidades Abiertas?</label>
        <locationX>550</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Validar_oportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Validar_oportunidades.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_oportunidades.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No negociada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_oportunidades.CI_Proyecto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CI_Proyecto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_oportunidades_vendidas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_oportunidades_vendidas</name>
        <label>¿Tiene oportunidades vendidas?</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Validar_oportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validar_oportunidades.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validar_oportunidades.CI_Proyecto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CI_Proyecto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modificar_nombre_de_la_oportunidad_nueva</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Se modifica el nombre de las oportunidades cuando ya existe una oportunidad vendida y la oportunidad nueva viene por Integración Zapier.</description>
    <environments>Default</environments>
    <formulas>
        <name>NombreModificado</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos; &apos; &amp; &apos;Vendida&apos;  &amp; &apos; &apos; &amp; TEXT({!Validar_oportunidades.CI_F_Cierre_PANACEA__c})</expression>
    </formulas>
    <interviewLabel>FL_CI_Opportunity_Modify_Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_CI_Opportunity_Modify_Name</label>
    <loops>
        <name>Validar_oportunidades</name>
        <label>Validar oportunidades</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Obtener_las_oportunidades_del_cliente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tiene_Oportunidades_Abiertas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_oportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_las_oportunidades_del_cliente</name>
        <label>Obtener las oportunidades del cliente</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_oportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CI_F_Cierre_PANACEA__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_oportunidad</name>
        <label>Actualizar oportunidad</label>
        <locationX>176</locationX>
        <locationY>1115</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_las_oportunidades_del_cliente</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
